et-xmlfile>=1.1.0
gitdb>=4.0.10
GitPython>=3.1.29
jdcal>=1.4.1
jproperties>=2.1.1
lml>=0.1.0
openpyxl>=3.0.10
pyexcel>=0.7.0
pyexcel-io>=0.6.6
pyexcel-xlsx>=0.6.0
six>=1.16.0
smmap>=5.0.0
texttable>=1.6.7
XlsxWriter>=3.0.3
