/dist/
/build/
/*/build/
*/nbproject/private/*
/nbproject/private/*
/DataModel/release/modules/lib/libewf.dll
/DataModel/release/modules/ext/Tsk_DataModel.jar
/DataModel/release/modules/ext/sqlite-jdbc-3.6.20.jar
/DataModel/release/modules/lib/libewf.dll
/DataModel/release/modules/lib/libtsk_jni.dll
/DataModel/release/modules/lib/zlib1.dll
/KeywordSearch/release/modules/ext/
/KeywordSearch/release/solr/lib/
/KeywordSearch/release/solr/solr/lib/
/KeywordSearch/release/solr/start.jar
/KeywordSearch/release/solr/webapps/solr.war

/DataModel/release/modules/ext/sqlite-jdbc-3.7.2.jar
/DataModel/release/modules/lib/zlib.dll