*.java                   text diff=java

*.txt                   text
*.sh                   eol=lf
*.mf                   text
*.xml                   text
*.form                   text
*.properties                   text
*.properties-MERGED                  text
*.html                   text diff=html
*.dox                   text
Doxyfile                text

*.py                  text diff=python
*.pl			text

# ensure solr scripts that are bash scripts not ending with.sh are lf instead of crlf
/KeywordSearch/solr/bin/autopsy-solr  eol=lf
/KeywordSearch/solr/bin/init.d/solr  eol=lf
/KeywordSearch/solr/bin/post  eol=lf
/KeywordSearch/solr/bin/solr  eol=lf