<?xml version="1.0" encoding="ASCII"?>
<!-- 
This file is an example configuration file for regression.py. 

List of tags:
image: An image to be ingested
build: the path to the build.xml file
indir: the path to input directory
singleUser_outdir: the path to single-user case output directory
global_csv: path to global csv file
singleUser_golddir: the path to single-user case gold directory
timing: can be set to True or False. If enabled, record the timing.
userCaseType: set this value to do single-user, multi-user or both tests

List of tags for multi-user case:
multiUser_outdir: a path to multi-user case output directory
multiUser_golddir: a path to multi-user case gold directory
dbHost: PostgreSQL database host name
dbPort: PostgreSQL database port number
dbUserName: PostgreSQL database username
dbPassword: PostgreSQL database password
solrHost: Solr server host name
solrPort: Solr server port number
messageServiceHost: ActiveMQ server hostname
messageServicePort: ActiveMQ server port number

NOTE: Make sure to use UNC path for mutliUser_outdir, use windows style for other paths! 

None of these tags are mandatory, and if nothing is provided the file will be
looked over and ignored.

If the -i flag is not set as an argument to regression.py, images from 
the input directory will be tested after the images provided in this file are.
By default the input directory will be ./input, however if the indir tag
is set, that value will become the new input directory. This directory must
have the required hash/keyword search files, and if -i is not set, this
will be the directory searched for images.

A CSV file will be created by default in the output directory. If the
global_csv tag is set in this file, a CSV file will be created or
appended to at that location. It must be given a specific file, not a directory.

Images can be added on any drive including network drives. If the image path
is incorrect, or if the image pointed to is an unsupported format, the regression
script will inform the user in an error message, but carry on without problems.
All paths given to the script have to be full paths from the root directoy.
NOTE: Some image formats can only be parsed by Autopsy using a Windows path
(i.e. X:\this\is\a\windows\path /this/is/not/a/windows/path)
It is up to the user to distinguish between the paths when adding to this file.

-->

<Properties>
    <!-- Path to input directory -->
    <!-- example: -->
    <!--<image value="path-to-img" />-->
</Properties>
