div.image img[src="regression_example_workspace-env.PNG"]{ 
    width:750px;
}

div.image img[src="regression_example_rebuild-command.PNG"]{ 
    width:750px;
}

div.image img[src="regression_example_case-output-folder.PNG"]{ 
    width:750px;
}

div.image img[src="regression_example_diff-failure.PNG"]{ 
    width:750px;
}

div.image img[src="regression_example_diff.PNG"]{ 
    width:750px;
}

div.image img[src="regression_example_gold-dir.PNG"]{ 
    width:750px;
}

div.image img[src="regression_example_output-folder.PNG"]{ 
    width:750px;
}

div.image img[src="regression_example_run-command.PNG"]{ 
    width:750px;
}

div.image img[src="unit_functional_testing_file.png"]{ 
    height:500px;
}

div.image img[src="unit_functional_testing_package.png"]{ 
    height:500px;
}

div.image img[src="unit_functional_testing_nbm.png"]{ 
    height:500px;
}