

.column-header-background { visibility: hidden; -fx-padding: -1em; }
.tree-disclosure-node {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-padding: 0.0em;
}

.tree-table-row-cell {
     -fx-table-cell-border-color: transparent;
}
