body { padding: 0px; margin: 0px; font: 13px Arial, Helvetica, sans-serif; color: #535353; }
#wrapper { width: 90%; margin: 0px auto; margin-top: 35px; }
h1 { color: #0077AA; font-size: 36px; line-height: 42px; font-weight: normal; margin: 0px; border-bottom: 1px solid #81B9DB; }
h1 span { color: #FF0000; display: block; font-size: 16px; font-weight: bold; line-height: 22px;}
h2 { padding: 0 0 3px 0; margin: 0px; color: #0077AA; font-weight: normal; border-bottom: 1px dotted #81B9DB; }
table td { padding-right: 25px; }
p.subheadding { padding: 0px; margin: 0px; font-size: 11px; color: #B5B5B5; }
.title { width: 660px; margin-bottom: 50px; }
.left { float: left; width: 250px; margin-top: 20px; text-align: center; }
.left img { max-width: 250px; max-height: 250px; min-width: 200px; min-height: 200px; }
.right { float: right; width: 385px; margin-top: 25px; font-size: 14px; }
.clear { clear: both; }
.info p { padding: 3px 10px; background: #e5e5e5; color: #777777; font-size: 12px; font-weight: bold; text-shadow: #e9f9fd 0 1px 0; border-top: 1px solid #dedede; border-bottom: 2px solid #dedede; }
.info table { margin: 0 25px 20px 25px; }
